    <div>
      <h3>Edit Todo</h3>
      <!-- Add *ngIf to ensure form is only shown when todo is loaded -->
      <form *ngIf="todo" (ngSubmit)="save()">
          <input type="text" name="title" placeholder="Edit title" [(ngModel)]="todo.title" />
          <label>
            <input type="checkbox" name="isComplete" [(ngModel)]="todo.isComplete" />
            Completed
          </label>
        <button type="submit">Submit</button>
        <button type="button" (click)="cancel()">Cancel</button>
      </form>
    </div>  
